 * {
    box-sizing: border-box;
    font-family: Gilam, sans-serif;
}

html,
body {
    height: 100%;
    background-color: #171717;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.navigation img {
    margin-top: 37px;
    width: 357px;
    height: 79px;
}

.btn-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E4B564;
    background: transparent;
    width: 220px;
    height: 50px;
}

.btn-call img {
    width: 16px;
    height: 16px;
    margin: 17px 8px 17px 25px;
}

.btn-call_link {
    text-decoration: none;
    vertical-align: text-top;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-right: 7px;
    color: #E4B564;
    transition: .5s;
}

.btn-call_text:hover {
    transition: .5s;
    letter-spacing: 0.5px;
}

h1 {
    color: #FFF;
    font-family: Gilam;
    width: 599px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.section_1 p {
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 1100px;
    word-wrap: break-word;
}

.grid-container_1 {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
}

.grid-container_1 div {
    display: grid;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding-top: 10px;
    padding-left: 10px;
}

.item1 {
    grid-column: 1 / span 2;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background: #634F2C;
}

.item2 {
    grid-column: 3 / span 2;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background: #B4A385;
}

.item3 {
    grid-column: 5 / span 2;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background: #E4B564;
}

.item4 {
    grid-column: span 3;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background: #635A4A;
}

.item5 {
    grid-column: span 3;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    background: #B08C4D;
}

.section_2 {
    /* width: 100%; */
    display: inline-block;
}

.grid-container_2 {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 29px 102px 102px 425px;
}

.grid-container_2 div {
    border: 1px solid #000;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 161px;
    margin-bottom: 94px;
}

.div1 {
    grid-row: 1 / span 2;
    background: #0E0E0E;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.div2 {
    grid-row: span 3;
    background: #242424;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.div3 {
    background: #1F1F1F;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div4 {
    grid-row: span 3;
    background: #0E0E0E;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.div5 {
    grid-row: span 3;
    background: #1F1F1F;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.div6 {
    grid-row: span 2;
    background: #E4B564;
    color: #000;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.div7 {
    background: #0A0909;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section_3 h2 {
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 363px;
    margin-bottom: 72px;
}
.btn_3 {
    margin-top: 363px;
    margin-bottom: 72px;
    background: transparent;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    transition: .3s;
}

.btn_3 a {
    text-decoration: none;
}
.btn-call_text3 {
    margin: 10px 39px 10px 40px;
    color: #E4B564;
    font-family: Ballet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.nav_3 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.btn_3:hover {
    transform: scale(1.5);
    background-color: red;
}

.grid-container_3 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    margin-bottom: 238px;
}

.img1, .img2, .img3, .img4,
.img5, .img6 {
    justify-content: center;
}

.img1 {
    background: #634F2C;
    padding: 171px 151px 171px 151px;
}

.img2 {
    background: rgba(232, 210, 171, 0.76);
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    column-gap: 9px;
    padding: 61px 80px 61px 80px;
}

.img3 {
    background: #E4B564;
    padding: 171px 151px 171px 151px;
}

.img4 {
    background: #635A4A;
    display: flex;
    flex-direction: column;
    padding: 171px 151px 171px 151px;
}

.img5 {
    background: #B08C4D;
    padding: 171px 151px 171px 151px;
}

.img6 {
    background: #634F2C;
    padding: 171px 151px 171px 151px;
}

.nav_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
}
